# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

---
stages:
  - lint
  - test

variables:
  # tell Python-based tools to force color output
  PY_COLORS: '1'
  ANSIBLE_FORCE_COLOR: '1'

.before_script_template: &before_script
  # Ansible refuses to read from a world-writeable folder
  - chmod 0750 $CI_PROJECT_DIR
  - pip install -U pip
  - pip install --ignore-installed poetry
  - poetry install

include:
  - project: hifis/templates/gitlab-ci
    file: /templates/reuse-compliance.yml

validate:
  stage: lint
  image: python:3.8
  before_script:
    - *before_script
  script:
    - poetry run molecule lint

test-debian10:
  variables:
    MOLECULE_IMAGE: registry.gitlab.com/hifis/docker/systemd/debian:10
  extends: .moleculetest

test-ubuntu20.04:
  variables:
    MOLECULE_IMAGE: jrei/systemd-ubuntu:20.04
  extends: .moleculetest

.moleculetest:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - apk update && apk add --no-cache
      python3-dev py3-pip gcc git curl build-base
      autoconf automake py3-cryptography linux-headers
      musl-dev libffi-dev openssl-dev openssh
    - docker info
    - python3 --version
    - *before_script
  script:
    - poetry run molecule test

...
  