# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden - Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

---
- name: Set OS family dependent variables
  ansible.builtin.include_vars: "{{ ansible_os_family|lower }}.yml"

- name: "Include docker-machine tasks"
  ansible.builtin.include_tasks: install.docker-machine.yml

- name: "Include installation tasks for Debian-like OS"
  ansible.builtin.include_tasks: install.debianlike.yml
  when: ansible_os_family == "Debian"

- name: "Include tasks to configure the system"
  ansible.builtin.include_tasks: configuration.yml

- name: "Ignition configuration must be generated before docker-machine init"
  ansible.builtin.meta: "flush_handlers"

- name: "Initialize docker-machine"
  ansible.builtin.include_tasks: "docker-machine-init.yml"
  when:
    - "gitlab_runner.executor == 'docker+machine'"
  no_log: true
  loop: "{{ gitlab_runner_list }}"
  loop_control:
    loop_var: gitlab_runner

- name: "Include tasks to register the runner"
  ansible.builtin.include_tasks: register.yml
  when:
    - gitlab_runner.registration_token | default('')
    - gitlab_runner.registration_token | length > 0
  no_log: true
  loop: "{{ gitlab_runner_list }}"
  loop_control:
    loop_var: gitlab_runner

- name: "Include tasks to update an existing runner configuration"
  ansible.builtin.include_tasks: update-configuration.yml

...
